/* HEADER */

header {
	display: flex;
	padding: 0px 24px;
	align-items: center;
}

.logo {
	height: 32px;
}

.name1 {
	display: inline;
	font-size: 18px;
	font-weight: bold;
	color: black;
	text-align: left;
}

.name2 {
	display: inline;
	font-size: 18px;
	color: gray;
	text-align: left;
}

nav {
  	margin-left: auto;
}

.nav {
  	margin-left: auto;
}

.navlink {
	list-style: none;
	display: inline-block;
	padding: 0 16px
}

/* BODY */

body {
	font-family: Verdana;
}

.content {
	margin: auto 24px;
}

div {
	background-color: #d0cece;
	padding: 32px 24px;
}

.content div {
	display: flex;
	align-items: center;
}

.div img {
	width: 60%;
	align-self: flex-start;
}

.div {
	text-align: left;
	flex-direction: column;
	padding-left: 24px;
	width: 50%;
	justify-content: flex-start;
	align-self: center;
}

.div h1 {
	opacity: 0.9;
}
.div h2 {
	opacity: 0.7;
	line-height: 95%;
	padding-top: -1px;
}

button {
	background-color: gray;
	align-self: center;
	padding: 8px 110px;
	color: white;
	font-size: 18px;
	border: none;
	letter-spacing: 1px;
}

.content img {
	width: 60%;
	height: 50%;
}

.flex div {
	display: inline-block;
}

/* FOOTER */
footer {
	display: flex;
	padding: 0px 24px;
	align-items: center;
	color: gray;
}

/*
TEST AREA

*/