/* HEADER */

header {
	display: flex;
	padding: 0px 24px;
	align-items: center;
}

.logo {
	height: 32px;
}

.name1 {
	display: inline;
	font-size: 18px;
	font-weight: bold;
	color: black;
	text-align: left;
}

.name2 {
	display: inline;
	font-size: 18px;
	color: gray;
	text-align: left;
}

nav {
  	margin-left: auto;
}

.nav {
  	margin-left: auto;
}

.navlink {
	list-style: none;
	display: inline-block;
	padding: 0 16px
}

/* BODY */

body {
	font-family: Verdana;
}

section {
	display: flex;
	padding: 0px 24px;
	/*
	border-right-style: solid;
	border-left-style: solid;
	border-top-style: none;
	border-bottom-style: none;
	border-color: #d0cece;
	*/
}

/* 1ST SECTION */
.content {
	margin: auto 24px;
	padding: 32px 24px;
	display: flex;
	align-items: center;
}

div {
	background-color: #d0cece;
}

.div {
	text-align: left;
	margin-left: 24px;
}

.div h1 {
	opacity: 0.9;
	height: 100%;
}

.div h2 {
	opacity: 0.7;
	line-height: 95%;
	height: 100%;
}

button {
	background-color: gray;
	padding: 8px 35%;
	color: white;
	font-size: 20px;
	border: none;
	letter-spacing: 1px;
}

/* 2ND SECTION */

.flex1 {	
	padding: 32px 48px;
	width: 60%;
	flex-direction: column;
}

.flex2 {
	width: 97.5%;
	align-items: center;
}

.flex2 img {
	padding-right: 24px;
}

.flex3 {
	margin-left: auto;
	flex-direction: column;
	align-items: center;
}


/* 3RD SECTION */



/* FOOTER */
footer {
	display: flex;
	padding: 0px 24px;
	align-items: center;
	color: gray;
}

/*
TEST AREA

*/